@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('reset.css');

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar { 
  width: 3px;
  background-color: #fff0;
}

body::-webkit-scrollbar-thumb { 
  background-color: #3e76ff;
  border-radius: 1000px;
}
